/*Fonts*/
@font-face {font-family: Poppins-Bold;
	src: url(../fonts/Poppins/Poppins-Bold.ttf);}
@font-face {font-family: Poppins-Medium;
	src: url(../fonts/Poppins/Poppins-Medium.ttf);}
@font-face {font-family: Poppins-Regular;
	src: url(../fonts/Poppins/Poppins-Regular.ttf);}
@font-face {font-family: Roboto-Regular;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);}
@font-face {font-family: Rubik-Bold;
	src: url(../fonts/Rubik/static/Rubik-Bold.ttf);}

/*Common Start*/
body {
	font-family: 'Poppins-Regular', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
/*Common Start*/
/*Heder Start*/
header {}
.cnav {background-color: #F0FFF0;}
.logo {
	font-family: 'Rubik-Bold', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: #56548C;}
.menu {}
.menu ul li a {
	margin: 0 17px;
}
.menu ul li a:hover {}
/*Heder Start*/


